<ul>
    <li>index app
        <ul>
            <li><a href="{% url 'index' %}">index</a></li>
        </ul>
    </li>
    <li>ingredients app
        <ul>
            <li>ingredient  <a href="{% url 'ingredients' %}">list</a>  <a href="{% url 'ingredient_add' %}">add</a></li>
            <li>vitamins    <a href="{% url 'vitamins' %}">list</a>     <a href="{% url 'vitamin_add' %}">add</a></li>
            <li>minerals    <a href="{% url 'minerals' %}">list</a>     <a href="{% url 'mineral_add' %}">add</a></li>
            <li>tags        <a href="{% url 'tags' %}">list</a>         <a href="{% url 'tag_add' %}">add</a></li>
        </ul>
    </li>
    <li>prices app
        <ul>
            <li>prices      <a href="{% url 'prices' %}">list</a>       <a href="{% url 'price_add' %}">add</a></li>
            <li>currencys   <a href="{% url 'currencys' %}">list</a>    <a href="{% url 'currency_add' %}">add</a></li>
            <li>units       <a href="{% url 'units' %}">list</a>        <a href="{% url 'unit_add' %}">add</a></li>
            <li>stores      <a href="{% url 'stores' %}">list</a>       <a href="{% url 'store_add' %}">add</a></li>
        </ul>
    </li>
    <li>recipes app
        <ul>
            <li>recipe      <a href="{% url 'recipes' %}">list</a>      <a href="{% url 'recipe_add' %}">add</a></li>
        </ul>
    </li>
    <li>meals app
        <ul>
            <li>meal        <a href="{% url 'meals' %}">list</a>        <a href="{% url 'meal_add' %}">add</a></li>
        </ul>
    </li>
    <li>plans app
        <ul>
        <li>plan        <a href="{% url 'plans' %}">list</a>        <a href="{% url 'plan_add' %}">add</a></li></li>
<!-- #TODO: <li>day         <a href=" url 'days' %}">list</a>         <a href=" url 'day_add' %}">add</a></li> -->
        </ul>
    </li>
</ul>