index app<br>
    <a href="{% url 'index' %}">index</a><br>
ingredients app<br>
    ingredient  <a href="{% url 'ingredients' %}">list</a>  <a href="{% url 'ingredient_add' %}">add</a><br>
    vitamins    <a href="{% url 'vitamins' %}">list</a>     <a href="{% url 'vitamin_add' %}">add</a><br>
    minerals    <a href="{% url 'minerals' %}">list</a>     <a href="{% url 'mineral_add' %}">add</a><br>
    tags        <a href="{% url 'tags' %}">list</a>         <a href="{% url 'tag_add' %}">add</a><br>
    prices      <a href="{% url 'prices' %}">list</a>       <a href="{% url 'price_add' %}">add</a><br>
    currencys   <a href="{% url 'currencys' %}">list</a>    <a href="{% url 'currency_add' %}">add</a><br>
    units       <a href="{% url 'units' %}">list</a>        <a href="{% url 'unit_add' %}">add</a><br>
    stores      <a href="{% url 'stores' %}">list</a>       <a href="{% url 'store_add' %}">add</a><br>
recipes app
    recipe      <a href="{% url 'recipes' %}">list</a>      <a href="{% url 'recipe_add' %}">add</a><br>
meals app
    meal        <a href="{% url 'meals' %}">list</a>        <a href="{% url 'meal_add' %}">add</a><br>
plans app
    plan        <a href="{% url 'plans' %}">list</a>        <a href="{% url 'plan_add' %}">add</a><br>
    <!-- #TODO: day         <a href="{% url 'days' %}">list</a>         <a href="{% url 'day_add' %}">add</a><br> -->